<footer class="footer">
    <small>
        The <a href="http://www.theodinproject.com/courses/ruby-on-rails/lessons/associations">EventBrite Clone for The Odin Project</a>
        by <a href="https://github.com/TheGreatestZenMaster">Jake</a>
    </small>
    <nav>
        <ul>
            <li><%= link_to "About", "#" %></li>
            <li><%= link_to "Contact", "#" %></li>
        </ul>
    </nav>
</footer>